**Importing Dependencies**

In [19]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [20]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'

page = requests.get(url)
soup = BeautifulSoup(page.text,'html')

In [21]:
table = soup.find_all('table')[0]

In [25]:
titles = table.find_all('th')

In [38]:
india_titles = [title.text.rstrip() for title in titles]

india_titles

['Rank', 'Forbes 2000 rank', 'Name', 'Headquarters', 'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)', 'Value(billions US$)', 'Industry']

**Building the DataFrame**

In [36]:
df = pd.DataFrame(columns = india_titles)

df

Empty DataFrame
Columns: [Rank, Forbes 2000 rank, Name, Headquarters, Revenue(billions US$), Profit(billions US$), Assets(billions US$), Value(billions US$), Industry]
Index: []

In [51]:
column_data = table.find_all('tr')

In [64]:
column_names = ['Column1', 'Column2', 'Column4']
for row in column_data:
    row_data = row.find_all('td')
    individual_row_data = [data.text.rstrip() for data in row_data]

    # Removing columns at index 1 and 3
    individual_row_data = individual_row_data[:1] + individual_row_data[2:3]+ individual_row_data[4:]

   # Check if the modified row has the same number of elements as the columns
    if len(individual_row_data) == len(column_names):
        # Append the modified row to the DataFrame
        df.loc[len(df)] = individual_row_data

In [65]:
df

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,54,Reliance Industries,Mumbai,86.85,7.81,192.59,228.63,Conglomerate
1,2,105,State Bank of India,Mumbai,54.52,4.32,696.51,58.39,Banking
2,3,154,HDFC Bank,Mumbai,22.51,5.11,280.16,98.28,Banking
3,4,205,ICICI Bank,Mumbai,21.89,3.01,226.39,67.9,Banking
4,5,229,Oil and Natural Gas Corporation,New Delhi,66.28,6.00,75.51,28.62,Oil and gas
5,6,269,HDFC,Mumbai,18.48,2.91,118.61,52.30,Financials
6,7,358,Indian Oil Corporation,New Delhi,72.20,3.72,51.73,16.53,Oil and gas
7,8,385,Tata Consultancy Services,Mumbai,25.73,5.14,18.68,172.79,Infotech
8,9,408,Tata Steel,Mumbai,31.07,5.01,34.62,20.42,Iron and steel
9,10,432,Axis Bank,Mumbai,11.41,1.71,152.12,31.32,Banking
10,11,484,NTPC Limited,New Delhi,17.00,2.17,55.00,20.32,Utilities
11,12,514,Larsen & Toubro,Mumbai,20.53,1.12,40.82,31.13,Capital goods
12,13,539,Infosys,Bangalore,16.33,2.97,15.56,87.21,Infotech
13,14,574,JSW Steel Ltd,Mumbai,9.50,0.50,17.40,20.10,Iron and steel
14,15,593,Vedanta Limited,Mumbai,16.38,2.63,25.3,20.21,Metals and mining
15,16,615,Bharat Petroleum,Mumbai,43.2,2.59,25.18,11.16,Oil and gas
16,17,628,Kotak Mahindra Bank,Mumbai,7.92,1.46,41.57,44.83,Banking
17,18,643,Hindalco Industries,Mumbai,24.33,1.60,27.45,15.11,Metals and mining
18,19,710,Bharti Airtel,New Delhi,14.98,0.406,48.72,56.80,Telecommunication
19,20,726,Coal India,Kolkata,14.03,2.06,22.3,16.30,Metals and mining
20,21,729,Tata Motors,Mumbai,39.04,−2.44,42.32,22.12,Automotive
21,22,789,Power Finance Corporation,New Delhi,10.15,1.86,106.71,4.10,Financials
22,23,809,HCL Technologies,Noida,11.19,1.49,11.57,39.09,Infotech
23,24,820,Wipro,Bangalore,10.07,1.64,13.69,38.44,Infotech
24,25,822,Power Grid Corporation of India,Gurgaon,5.61,2.19,34.56,20.57,Utilities
25,26,827,Grasim Industries,Mumbai,12.35,0.87,36.94,14.77,Diversified
26,27,846,ITC Limited,Kolkata,7.91,2.00,10.04,42.06,Consumer Goods
27,28,876,Bajaj Finserv,Pune,8.64,0.56,41.54,32.15,Financials
28,29,925,Canara Bank,Bangalore,12.68,0.73,164.71,5.53,Banking
29,30,954,Bank of Baroda,Vadodara,12.06,0.68,167.76,7.54,Banking
30,31,1000,Union Bank of India,Mumbai,11.28,0.67,148.94,3.62,Banking
31,32,1041,Punjab National Bank,New Delhi,12.1,0.57,178.94,5.10,Banking
32,33,1063,Mahindra & Mahindra,Mumbai,11.59,0.73,22.36,14.96,Automotive
33,34,1171,Steel Authority of India,New Delhi,12.98,1.79,15.87,5.48,Iron and steel
34,35,1215,GAIL,New Delhi,10.98,1.53,12.03,9.52,Oil and gas
35,36,1348,Indian Bank,Chennai,6.17,0.65,89.96,2.63,Banking
36,37,1362,Sun Pharmaceutical,Mumbai,5.10,0.87,9.30,28.97,Pharmaceuticals
37,38,1514,Indian Railway Finance Corporation,New Delhi,2.55,0.82,58.03,3.83,Financials
38,39,1453,Adani Enterprises,Ahmedabad,7.86,0.09,11.09,32.70,Consumer Goods
39,40,1472,IndusInd Bank,Mumbai,5.09,0.58,51.26,9.72,Banking
40,41,1525,Bank of India,Mumbai,6.26,0.39,98.51,2.66,Banking
41,42,1489,Adani Ports & SEZ Limited,Ahmedabad,2.10,0.67,11.36,24.12,Shipping
42,43,1570,Adani Green Energy,Ahmedabad,0.41,0.01,3.93,59.06,Renewable energy
43,44,1656,Rajesh Exports,Bangalore,30.00,0.15,2.7,2.50,Gems and jewellery
44,45,1687,Asian Paints,Mumbai,3.77,0.41,2.84,39.69,Chemicals
45,46,1705,Adani Transmission,Ahmedabad,1.49,0.16,6.11,38.15,Utilities
46,47,1730,Tech Mahindra,Pune,5.72,0.69,5.51,16.61,Infotech
47,48,1746,Adani Total Gas,Ahmedabad,0.35,0.07,0.50,34.74,Oil and gas
48,49,1756,Bajaj Auto,Pune,4.54,0.83,4.51,13.79,Automotive
49,50,1759,DMart,Mumbai,4.00,0.20,1.93,34.12,Retail

**Saving the file**

In [70]:
df.to_csv(r'Top 50 Companies.csv', index = False)